.bg-cover {
  background-size: cover; 
}

nav img:hover {
  cursor: pointer; 
}

.navbar-item:hover {
  background-color: #151414;
  cursor: pointer;
}
.navbar-item {
  width: 150px;
}
.navbar-item:visited {
  background-color: #151414;
}


/*handphone*/
@media screen and (max-width: 600px) {
  .info p {
    margin-left: 15px;
    margin-right: 15px; }
  .contact h1 {
    padding-top: 30px; }
  .contact p {
    padding-bottom: 50px; } }
