@font-face {
  font-family: 'starwars';
  src: url('Starjedi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

  html, body{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    font-family: starwars;
  }
  span:hover{
    cursor:pointer;
  }
  .page {
    background-position: center top;
    background-repeat: repeat;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
}